.back{
    margin: 20px;
    color: white;
    background: rgb(0, 0, 0);

    height: 40px;
    width : 140px ;
    position: relative;
    border-radius: 5px;
    
}
.couponname{
    color: black;
    margin-left:40px;
    margin-top: 80px;
    height:5px;
    border-radius: 10.5px
}
.acceptable{
    color: black;
    margin-left:40px;
    margin-top: 50px;
    height:15px;

}
.grouptitle{
    color: black;
    margin-left:80px;
    margin-top: 10px;
    height:15px;
}

.group{
    color: black;
    margin-left:130px;
    margin-top: 10px;
    height:25px;
}
.option{
    color: black;
    margin-left:15px;

}
.deadlinetitle{
    color: black;
    margin-left:40px;
    margin-top: 10px;
    height:15px;
}
.deadline{
    color: black;
    margin-left:130px;
    margin-top: 10px;
    height:70px;
}
.enter{
   
    margin: 20px;
    color: white;
    background: rgb(0, 0, 0);    
    height: 35px;
    width: 70px;
    position: relative;
    border-radius: 10.5px;

}
