.ant-layout {
  min-height: 100vh;
  .ant-layout-header {
    padding: 0;
    border-bottom: 1px solid #e9e9e9;
    .header-menu {
      height: 64px;
      line-height: 64px;
      > li {
        float: right;
      }
    } 
  }
}
.ant-layout-sider-trigger {
  background-color: #fff;
  color: #000;
}

.header-menu li:first-child ul {
  right: 0px;
  left: auto;
}