.back {
  color: black;
}
.couponname {
  color: black;
  margin-left: 50px;
  margin-top: 40px;
  height: 5px;
}
.couponnameinput {
  text-align: center;
}
.acceptable {
  color: black;
  margin-left: 50px;
  margin-top: 50px;
  height: 15px;
}
.grouptitle {
  color: black;
  margin-left: 90px;
  margin-top: 10px;
  height: 15px;
}

.group {
  color: black;
  margin-left: 140px;
  margin-top: 10px;
  height: 25px;
}
.option {
  color: black;
  margin-left: 15px;
}
.deadlinetitle {
  color: black;
  margin-left: 50px;
  margin-top: 10px;
  height: 15px;
}
.deadline {
  color: black;
  margin-left: 140px;
  margin-top: 10px;
}
.addcoupon {
  color: black;
  margin-top: 100px;
}
