@import "~antd/dist/antd.css";

.login-form {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -175px 0 0 -175px;
  width: 350px;
  padding: 36px 36px 10px 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
